In [34]:
import sys
import pandas as pd
from states import states_names, state_codes,get_state_code

In [35]:
file_path_2016 = 'correctional_populations/cpus16at01.csv'
file_path_2015 = 'correctional_populations/cpus15at01.csv'
file_path_2014 = 'correctional_populations/cpus14at01.csv'
file_path_2013 = 'correctional_populations/cpus13at01.csv'

In [36]:
def read_in_csv(filename, year):
    names = ['remove','region','total_correctional_pop','csrp_100k_18','csrp_100k_all','remove1','parole',
             'comsrp_100k_18','comsrp_100k_all','remove3','local_jail_prison','irp_100k_18','irp_100k_all']
    df = pd.read_csv(filename, skiprows=12,skipfooter=10,sep=",", names=names)
    df.drop(df.columns[5], axis=1, inplace=True)
    df.drop(df.columns[8], axis=1, inplace=True)
    df.drop(df.columns[0], axis=1, inplace=True)
    df["year"] = [year for num in range(0,len(df))]
    df['status_code'] = df.apply(get_state_code, axis=1)
    return df

data2016 = read_in_csv(file_path_2016, 2016)
data2016.head()

C:\Users\moshi\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

,region,total_correctional_pop,csrp_100k_18,csrp_100k_all,parole,comsrp_100k_18,comsrp_100k_all,local_jail_prison,irp_100k_18,irp_100k_all,year,status_code
0,U.S. total/e,"6,582,100","2,630","2,030","4,537,100","1,810","1,400","2,131,000",850,660,2016,None
1,NaN,"320,000",130,100,"131,700",50,40,"188,400",80,60,2016,None
2,NaN,"6,262,000","2,500","1,930","4,405,400","1,760","1,360","1,942,600",780,600,2016,None
3,Alabama,"99,800","2,640","2,050","60,700","1,610","1,250","40,900","1,080",840,2016,AL
4,Alaska,"12,900","2,320","1,730","8,400","1,520","1,140","4,400",800,600,2016,AK

In [37]:
data2015 = read_in_csv(file_path_2015, 2015)
data2015.head()

C:\Users\moshi\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

,region,total_correctional_pop,csrp_100k_18,csrp_100k_all,parole,comsrp_100k_18,comsrp_100k_all,local_jail_prison,irp_100k_18,irp_100k_all,year,status_code
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,None
1,U.S. total/e,"6,712,600","2,700","2,080","1,870","1,441","2,145,100",660,NaN,NaN,2015,None
2,NaN,"328,500",130,102,50,40,"195,700",60,NaN,NaN,2015,None
3,NaN,"6,384,100","2,560","1,978","1,810","1,400","1,949,400",600,NaN,NaN,2015,None
4,Alabama,"107,500","2,850","2,210","1,710","1,330","42,900",880,NaN,NaN,2015,AL

In [38]:
data2014 = read_in_csv(file_path_2014, 2014)
data2014.head()

C:\Users\moshi\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

,region,total_correctional_pop,csrp_100k_18,csrp_100k_all,parole,comsrp_100k_18,comsrp_100k_all,local_jail_prison,irp_100k_18,irp_100k_all,year,status_code
0,U.S. total/e,"6,814,600","2,760","4,708,100","2,188,000",890,NaN,NaN,NaN,NaN,2014,None
1,NaN,"338,000",140,"128,400","209,600",90,NaN,NaN,NaN,NaN,2014,None
2,NaN,"6,476,600","2,630","4,579,700","1,978,300",800,NaN,NaN,NaN,NaN,2014,None
3,Alabama,"104,900","2,790","61,400","45,800","1,220",NaN,NaN,NaN,NaN,2014,AL
4,Alaska,"14,600","2,650","9,300","5,300",960,NaN,NaN,NaN,NaN,2014,AK

In [39]:
data2013 = read_in_csv(file_path_2013, 2013)
data2013.head()

C:\Users\moshi\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

,region,total_correctional_pop,csrp_100k_18,csrp_100k_all,parole,comsrp_100k_18,comsrp_100k_all,local_jail_prison,irp_100k_18,irp_100k_all,year,status_code
0,U.S. total/e,"6,906,200","2,830","4,751,400","2,227,500",910,NaN,NaN,NaN,NaN,2013,None
1,NaN,"347,000",140,"131,900","215,100",90,NaN,NaN,NaN,NaN,2013,None
2,NaN,"6,559,200","2,690","4,619,400","2,012,400",830,NaN,NaN,NaN,NaN,2013,None
3,Alabama,"115,600","3,100","70,800","46,000","1,230",NaN,NaN,NaN,NaN,2013,AL
4,Alaska,"14,600","2,670","9,500","5,100",940,NaN,NaN,NaN,NaN,2013,AK

In [40]:
union = pd.concat([data2013, data2014])
union = pd.concat([union, data2015])
union = pd.concat([union, data2016])
union

,region,total_correctional_pop,csrp_100k_18,csrp_100k_all,parole,comsrp_100k_18,comsrp_100k_all,local_jail_prison,irp_100k_18,irp_100k_all,year,status_code
0,U.S. total/e,"6,906,200","2,830","4,751,400","2,227,500",910,NaN,NaN,NaN,NaN,2013,None
1,NaN,"347,000",140,"131,900","215,100",90,NaN,NaN,NaN,NaN,2013,None
2,NaN,"6,559,200","2,690","4,619,400","2,012,400",830,NaN,NaN,NaN,NaN,2013,None
3,Alabama,"115,600","3,100","70,800","46,000","1,230",NaN,NaN,NaN,NaN,2013,AL
4,Alaska,"14,600","2,670","9,500","5,100",940,NaN,NaN,NaN,NaN,2013,AK
...,...,...,...,...,...,...,...,...,...,...,...,...
49,Virginia,"120,000","1,830","1,420","62,500",950,740,"57,500",880,680.0,2016,VA
50,Washington,"127,000","2,230","1,730","100,600","1,760","1,370","30,400",530,410.0,2016,WA
51,West Virginia,"20,100","1,380","1,100","10,100",690,550,"10,100",690,550.0,2016,WV
52,Wisconsin,"100,500","2,230","1,740","64,900","1,440","1,120","35,600",790,620.0,2016,WI
53,Wyoming,"9,400","2,100","1,600","5,500","1,230",940,"3,900",870,660.0,2016,WY

In [41]:
union.to_csv("2013-2017_incarceration_usa.csv")